#outerPageDiv{
    overflow-y: auto;
    height: 1vh;
}

#pageDiv{
    display: flex;
    flex-direction: column;
}

#display-title{
    padding-top: 40px;
}

#posts-logo{
    margin: 10px 0 1px 0;
    width : 8em;
}

#img-div{
    border: 0 solid darkgrey;
    border-bottom-width: 1px;
}

#searchTab{
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

#searchTextArea{
    resize: none;
    margin-right: 10px;
    border-width: 0 0 2px 0;
    height : 20px;
}

#postContainerDiv {
    margin-top : 30px;
    width: 95%;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

#postContainerDiv::-webkit-scrollbar {
    height: 8px;
}

#postContainerDiv::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
}

.titleImg{
    margin-top: 20%;
    margin-bottom: 10%;
    width: 95%;
}

.postDiv {
    text-align: center;
    background-color: rgba(170, 170, 170, 0.4);
    width: 300px;
    height: 500px;
    margin: 50px 10px 50px;
    flex: 0 0 auto;
    border-radius: 20px;
}
.postDiv:hover {
    width: 400px;
    height: 600px;
    margin: 0;
    transition : width 1s ease, height 1s ease, margin 1s ease;
}

.postLink{
    font-family: 'Battambang', cursive;
    text-decoration: none;
}

.postContent{
    font-family: 'Rokkitt', sans-serif;
}

.author{
    font-family: 'Rokkitt', sans-serif;
}

.slider{
    height: 20px;
}

.rightAlignedDiv{
    margin-right: 10px;
    text-align: right;
}

#no-post-h{
    margin-top: 100px;
    text-align: center;
}

.moneyP{
    font-family: 'Rokkitt', sans-serif;
}

#footer{
    display: block;
}