*{
    margin: 0;
    padding: 0;
}

#post-container{
    display: flex;
    justify-content: space-between;
    overflow-anchor: none;
}

#title-img{
    margin-top: 10px;
    width: 90%;
}

#post-div{
    width: 50%;
    height: 70vh;
    text-align: center;
    border-right: grey 2px solid;
    overflow-y : auto;
    flex-wrap: nowrap;
    padding: 20px;
}

#payDiv{
    width: 50%;
    text-align: center;
}

button{
    font-family: 'Battambang', cursive;
    text-decoration: none;
    margin: 0 10px;
    border: none;
}

#activate-button {
    margin-top : 50px;
    background-color: rgb(18, 255, 42);
    color: black;
    border-radius: 15px;
    width: 100px;
}

#activate-button:hover {
    background-color: rgba(18, 255, 42, 0.5);
    transition: background-color 0.5s ease;
}

#delete-button {
    margin-top : 50px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 15px;
    width: 100px;
}

#delete-button:hover {
    background-color: rgba(255, 0, 0, 0.5);
    transition: background-color 0.5s ease;
}

#abort-button {
    margin-top : 50px;
    background-color: rgb(255, 131, 40);
    color: white;
    border-radius: 15px;
    width: 100px;
}

#abort-button:hover {
    background-color: rgba(255, 131, 40, 0.5);
    transition: background-color 0.5s ease;
}

#report-link{
    color:grey;
}

#content-img{
    width : 95%;
}

#fund-button{
    background-color: rgb(31, 113, 255);
    height: 2em;
    border-radius: 1em;
    width: 10em;
}

#funders-comment-textarea{
    resize: none;
    width: 450px;
    height: 40px;
    border: 1px grey solid;
    outline: none;
    margin: 10px;
}

.commentDiv{
    text-align: left;
    border-bottom: 1px grey solid;
    margin: 10px;
    padding: 10px;
}

#policies-div{
    margin : 10px;
}

.commentInfo{
    display: flex;
    justify-content: right;
}

.timestamp{
    color: grey;
    margin-left: 5px;
}