body{
    overflow: hidden;
}

#home-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
    font-family: 'Battambang', cursive;
}

.account-type-container{
    display: flex;
}

.accountType{
    background-color: rgba(170, 170, 170, 0.4);
    border-radius: 30px;
    padding: 70px 30px;
    font-family: 'Rokkitt', sans-serif;
    font-size: 20px;
}

.login-link:visited{
    color: black;
}

#individual-account-type{
    text-align: center;
    float: left;
    margin-left: 10%;
    width: 25%;
    animation: slideInFromBottom 1s ease;
}

#business-account-type{
    text-align: center;
    float: right;
    margin-right: 10%;
    width: 25%;
    animation: slideInFromTop 1s ease;
}

@keyframes slideInFromBottom{
    from {
        transform: translate(0, 100%);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes slideInFromTop{
    from {
        transform: translate(0, -100%);
    }
    to {
        transform: translate(0,0);
    }
}